.header-main {
    background: $background-headerMain-1069c3;
    color:#ffffff;

    a{
        color: #ffff;
    }

    .btn-outline-secondary {
        background: $background-btnDropdown-headerMain-4087cf;
        color: #ffffff;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 6px;
        border: none;
    }

    .btn-find-price {
        background: $background-btn-DB4C4A;
        border-radius: 30px;
        border: none;
    }

}