.inputStoStep1 {
    .wrap-forma-inputSto-step1 {       
        margin-top: 31px;
        margin-bottom: 224px;
        width: 473px;
    }

    .wrap-forma-inputSto-step1 h1 {
        font-weight: bold;
        font-size: 26px;
        line-height: 30px;
        color: #29293A;
    }


    .description-carowner-or-master {
        margin: 3px 0 16px 0;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #BABABA;
    }

    .wrap-forma-inputSto-step1 p {
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #828282;
    }

    .wrap-input-registry-inputSto-step1 {
        margin: 12px 0 22px 0;

    }

    .wrap-input-registry-inputSto-step1 a {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #29293A;
        border-bottom: 1px solid #828282;
    }

    .wrap-input-registry-inputSto-step1 a:first-child {
        margin-right: 19px;
    }

    .privatePerson {
        margin: 20px 36px 17px 13px;
    }

    .legalPerson {
        margin-left: 13px;
    }

    .wrap-forma-inputSto-step1 form {
        width: 300px;
        margin-top: 5px;
    }

    .wrap-forma-inputSto-step1 form input {
        width: 260px;
    }

    .wrap-forma-inputSto-step1 input {
        margin-top: 14px;
        padding: 15px 19px 15px 19px;
        background: #F5F5F7;
        border-radius: 6px;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #464646;
        opacity: 0.5;
    }

    .wrap-forma-inputSto-step1 button {
        width: 310px;
        margin: 17px 0 10px 0;
        padding: 15px 85px;
        border-radius: 30px;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;        
background: #DB4C4A;
border:none;
    }

}