.logotip{
    font-weight: 900 !important;
    font-size: 18px !important;
    line-height: 21px !important;
    letter-spacing: 0.34em !important;
    text-transform: uppercase !important;
    border-bottom: none !important;
}