//fonts
$font-family: Roboto;
$font-style: normal;
$font-weight: normal;
$font-weight300: 300;
$font-weight900: 900;
$font-size14: 14px;
$font-size16: 16px;
$font-size17: 17px;
$font-size18: 18px;
$font-size20: 20px;
$font-size36: 36px;


//backgrounds
$background-headerMain-1069c3:#1069c3;
$background-btnDropdown-headerMain-4087cf:#4087cf;
$background-btn-DB4C4A: #DB4C4A;


