.why-autogigant {
    h1 {
        font-weight: 300;
        font-size: 56px;
        line-height: 66px;
        color: #333333;
        opacity: 0.5;
    }
    h2{
        font-weight: 500;
font-size: 24px;
line-height: 28px;
color: #000000;
    }
    p{
        font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #9C9C9C;
    }
}