@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext");
@import 'variables.scss';
@import 'header-main.scss';
@import 'logotip.scss';
@import 'addYuorCarServises.scss';
@import 'login.scss';
@import 'registry.scss';
@import 'chooseCarServises.scss';
@import 'why-autogigant.scss';
@import 'how-working-autogigant.scss';
@import 'filtersCharacterCarLocationTime.scss';
@import 'cardsStoMap.scss';
@import 'privateCabinet.scss';
@import 'cabinetCarOwner.scss';

* {
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
}



// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }
