@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext");
.header-main {
  background: #1069c3;
  color: #ffffff; }
  .header-main a {
    color: #ffff; }
  .header-main .btn-outline-secondary {
    background: #4087cf;
    color: #ffffff;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 6px;
    border: none; }
  .header-main .btn-find-price {
    background: #DB4C4A;
    border-radius: 30px;
    border: none; }

.logotip {
  font-weight: 900 !important;
  font-size: 18px !important;
  line-height: 21px !important;
  letter-spacing: 0.34em !important;
  text-transform: uppercase !important;
  border-bottom: none !important; }

.addYuorCarServises {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #F2C94C; }

.login {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px; }

.regisry {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px; }

.chooseCarServises {
  font-weight: 300;
  font-size: 36px;
  line-height: 42px; }

.why-autogigant h1 {
  font-weight: 300;
  font-size: 56px;
  line-height: 66px;
  color: #333333;
  opacity: 0.5; }

.why-autogigant h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000; }

.why-autogigant p {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #9C9C9C; }

.how-working-autogigant {
  background: #F5F5F7; }
  .how-working-autogigant h1 {
    font-weight: 300;
    font-size: 56px;
    line-height: 66px;
    color: #333333;
    opacity: 0.5; }
  .how-working-autogigant h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000; }
  .how-working-autogigant p {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000; }
  .how-working-autogigant .algoritm {
    padding-top: 48px;
    position: relative;
    background: #FFFFFF;
    border-radius: 9px;
    margin-top: 69px; }
  .how-working-autogigant .number {
    position: absolute;
    top: -30px;
    left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1069C3;
    width: 67px;
    height: 67px;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    border-radius: 50px;
    color: #ffffff; }

.filtersCharacterCarLocationTime {
  position: relative; }
  .filtersCharacterCarLocationTime button {
    background: #BABABA;
    border-radius: 6px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #464646; }
  .filtersCharacterCarLocationTime .city,
  .filtersCharacterCarLocationTime .time {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
    color: #333333; }
  .filtersCharacterCarLocationTime .line {
    position: absolute;
    top: 35%;
    left: 69%;
    border-top: 1px solid #000000;
    width: 60px;
    height: 1px;
    transform: rotate(-90deg); }

.cardsStoMap .card {
  margin-top: 14px;
  background: #FFFFFF;
  border: 0.1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 20px 30px rgba(146, 146, 146, 0.25);
  border-radius: 12px; }

.cardsStoMap .sto {
  position: relative; }

.cardsStoMap .name-sto {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000; }

.cardsStoMap .wrap-name-sto-reviews span {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  opacity: 0.5; }

.cardsStoMap .distances {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #000000;
  opacity: 0.5; }

.cardsStoMap .flag {
  position: absolute;
  top: -17px;
  right: -40px; }

.cardsStoMap .wrap-services-workTime {
  display: flex;
  padding: 0px 31px 19px 31px; }

.cardsStoMap .services {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-right: 15px; }

.cardsStoMap .services p {
  margin-top: 11px; }

.cardsStoMap .services span {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000; }

.cardsStoMap .workTime {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px; }

.cardsStoMap .workTime :first-child {
  margin-top: 25px; }

.cardsStoMap .status {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #27AE60; }

.privateCabinet {
  background: #1069c3;
  position: relative; }
  .privateCabinet h1 {
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF; }
  .privateCabinet .close {
    position: absolute;
    top: 4px;
    left: 70%; }
  .privateCabinet a {
    color: #FFFFFF; }
  .privateCabinet .inputAndRegistry a {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px; }
  .privateCabinet form {
    width: 354px; }
  .privateCabinet input {
    margin-top: 24px;
    padding: 15px 19px 15px 19px;
    width: 314px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    border-radius: 6px; }
  .privateCabinet button {
    margin-top: 17px;
    margin-bottom: 28px;
    padding: 15px 19px 15px 19px;
    width: 314px;
    background: #DB4C4A;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF; }
  .privateCabinet .icons {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-right: 17px; }
  .privateCabinet .icons a {
    text-decoration-line: underline;
    color: #FFFFFF; }
  .privateCabinet .icons img {
    margin: 0 5px 0 0; }
  .privateCabinet .icons p {
    margin-top: 46px; }

.cabinetCarOwner {
  background: #1069c3; }
  .cabinetCarOwner .logo {
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.34em;
    text-transform: uppercase; }
  .cabinetCarOwner a {
    color: #FFFFFF;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px; }
  .cabinetCarOwner .border-style-none {
    border: none; }
  .cabinetCarOwner span {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF; }
  .cabinetCarOwner button {
    padding: 15px;
    margin-left: 50px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    background: #DC4E41;
    border-radius: 30px;
    border: none;
    color: #FFFFFF; }
  .cabinetCarOwner img {
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px; }
  .cabinetCarOwner .wrap-content-carowner {
    background: #E5E5E5; }
  .cabinetCarOwner .warp-action-detail {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px; }
  .cabinetCarOwner .action h2 {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #9C9C9C;
    text-transform: uppercase; }
  .cabinetCarOwner .card-action {
    padding: 9px 27px 9px 27px;
    margin-bottom: 18px;
    background: #FFFFFF;
    border: 1px solid #C9CDDB;
    box-sizing: border-box; }
  .cabinetCarOwner .card-action h3 {
    margin-bottom: 7px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000; }
  .cabinetCarOwner .card-action p {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #9C9C9C; }
  .cabinetCarOwner .card-action a {
    margin-left: 11px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #1E3EA4; }
  .cabinetCarOwner .card-action span {
    margin-left: 160px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #828282; }
  .cabinetCarOwner .card-action-done {
    padding: 9px 27px 9px 27px;
    background: #FFFFFF;
    border: 1px solid #C9CDDB;
    box-sizing: border-box; }
  .cabinetCarOwner .card-action-done h3 {
    margin-bottom: 7px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #828282; }
  .cabinetCarOwner .card-action-done p {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #9C9C9C; }
  .cabinetCarOwner .card-action-done a {
    margin-left: 11px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #1E3EA4; }
  .cabinetCarOwner .card-action-done span {
    margin-left: 234px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #828282; }
  .cabinetCarOwner .card-detail {
    background: #FFFFFF; }
  .cabinetCarOwner .card-detail h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000000; }
  .cabinetCarOwner .card-detail span {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #828282; }
  .cabinetCarOwner .card-detail a {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #1E3EA4; }
  .cabinetCarOwner .header-card-detail {
    margin: 25px 0 0 20px; }
  .cabinetCarOwner .card-detail hr {
    border-bottom: 1px solid #BDBDBD; }
  .cabinetCarOwner .wrap-request-car-time-place {
    margin: 18px 20px 18px 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    margin-bottom: 27px; }
  .cabinetCarOwner .wrap-detail-offers {
    margin: 19px 20px 20px 20px; }
  .cabinetCarOwner .sto {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000; }
  .cabinetCarOwner .wrap-detail-offers a {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #000000; }
  .cabinetCarOwner .card {
    display: flex;
    flex-direction: row; }
  .cabinetCarOwner .address {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    opacity: 0.5; }
  .cabinetCarOwner .workTime {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000000; }
  .cabinetCarOwner .status {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #27AE60; }
  .cabinetCarOwner .newMesage {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #1E3EA4; }
  .cabinetCarOwner .cansel {
    background: #ffffff;
    border: 1px solid #9C9C9C;
    box-sizing: border-box;
    border-radius: 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #333333; }
  .cabinetCarOwner .choose {
    background: #2148B9;
    border: 1px solid #9C9C9C;
    box-sizing: border-box;
    border-radius: 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF; }

.inputStoStep1 .wrap-forma-inputSto-step1 {
  margin-top: 31px;
  margin-bottom: 224px;
  width: 473px; }

.inputStoStep1 .wrap-forma-inputSto-step1 h1 {
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  color: #29293A; }

.inputStoStep1 .description-carowner-or-master {
  margin: 3px 0 16px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #BABABA; }

.inputStoStep1 .wrap-forma-inputSto-step1 p {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #828282; }

.inputStoStep1 .wrap-input-registry-inputSto-step1 {
  margin: 12px 0 22px 0; }

.inputStoStep1 .wrap-input-registry-inputSto-step1 a {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #29293A;
  border-bottom: 1px solid #828282; }

.inputStoStep1 .wrap-input-registry-inputSto-step1 a:first-child {
  margin-right: 19px; }

.inputStoStep1 .privatePerson {
  margin: 20px 36px 17px 13px; }

.inputStoStep1 .legalPerson {
  margin-left: 13px; }

.inputStoStep1 .wrap-forma-inputSto-step1 form {
  width: 300px;
  margin-top: 5px; }

.inputStoStep1 .wrap-forma-inputSto-step1 form input {
  width: 260px; }

.inputStoStep1 .wrap-forma-inputSto-step1 input {
  margin-top: 14px;
  padding: 15px 19px 15px 19px;
  background: #F5F5F7;
  border-radius: 6px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #464646;
  opacity: 0.5; }

.inputStoStep1 .wrap-forma-inputSto-step1 button {
  width: 310px;
  margin: 17px 0 10px 0;
  padding: 15px 85px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #DB4C4A;
  border: none; }

.inputStostep2 .wrap-forma-inputSto-step2 {
  margin-top: 31px;
  margin-bottom: 224px;
  width: 473px; }

.inputStostep2 .wrap-forma-inputSto-step2 h1 {
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  color: #29293A; }

.inputStostep2 .description-carowner-or-master {
  margin: 3px 0 16px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #BABABA; }

.inputStostep2 .wrap-forma-inputSto-step2 p {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #828282; }

.inputStostep2 .wrap-input-registry-inputSto-step2 {
  margin: 12px 0 22px 0; }

.inputStostep2 .wrap-input-registry-inputSto-step2 a {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #29293A;
  border-bottom: 1px solid #828282; }

.inputStostep2 .wrap-input-registry-inputSto-step2 a:first-child {
  margin-right: 19px; }

.inputStostep2 .privatePerson {
  margin: 20px 36px 17px 13px; }

.inputStostep2 .legalPerson {
  margin-left: 13px; }

.inputStostep2 .wrap-forma-inputSto-step2 form {
  width: 300px;
  margin-top: 5px; }

.inputStostep2 .wrap-forma-inputSto-step2 form input {
  width: 260px; }

.inputStostep2 .wrap-forma-inputSto-step2 input {
  margin-top: 14px;
  padding: 15px 19px 15px 19px;
  background: #F5F5F7;
  border-radius: 6px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #464646;
  opacity: 0.5; }

.inputStostep2 .wrap-forma-inputSto-step2 .button-back {
  width: 120px;
  margin: 17px 8px 13px 0;
  background: #ECECEC;
  padding: 15px 0px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #828282;
  border: none; }

.inputStostep2 .wrap-forma-inputSto-step2 .button-create {
  width: 120px;
  padding: 15px 0px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  background: #DB4C4A;
  border: none; }

.inputStostep2 .load-foto-sto {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #1E3EA4; }

* {
  margin: 0 auto;
  font-family: Roboto;
  font-style: normal; }
